Repository salute-developers/grail: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

Update README.md
  packages/eslint-config/README.md
Due: prettier --write --parser markdown

Update ESLint version constraint to support ESLint 9
  package-lock.json
  packages/eslint-config-base/package.json
  packages/eslint-config/flat/index.mjs
  packages/eslint-config/package.json
Due: prettier --write --parser json, node

Remove legacy
  .github/dependabot.yml
  .github/workflows/semgrep.yml
  .github/workflows/snapshot.yml
  .github/workflows/test.yml
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/eslint-config/src/flat.ts
  packages/eslint-config/src/legacy.ts
  packages/eslint-config/tsconfig.cjs.json
  packages/eslint-config/tsconfig.json
  packages/eslint-plugin-salute-react/README.md
  packages/eslint-plugin-salute-react/eslint.config.js
  packages/eslint-plugin-salute-react/package.json
  packages/eslint-plugin-salute-react/src/plugin-salute-react-legacy.ts
  packages/eslint-plugin-salute-react/src/plugin-salute-react.ts
  packages/eslint-plugin-salute-react/src/utils.ts
  packages/eslint-plugin-salute-react/tsconfig.cjs.json
  packages/eslint-plugin-salute-react/tsconfig.json
  packages/prettier-config/src/prettier-config.ts
  repo/comment-action/src/index.ts
  repo/inspect-config/eslint.config.js
Due: prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

Release notes
  .changeset/mighty-knives-mate.md
  .changeset/nine-houses-deny.md
  .changeset/rude-yaks-visit.md
  .changeset/short-beds-grin.md
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: prettier --write --parser markdown, prettier --write --parser json, node

Release notes
  .changeset/mighty-knives-mate.md
  .changeset/nine-houses-deny.md
  .changeset/rude-yaks-visit.md
  .changeset/short-beds-grin.md
  README.md
  package.json
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/eslint-config/src/flat.ts
  packages/eslint-config/src/rules.ts
  packages/eslint-plugin-salute-react/package.json
  packages/prettier-config/package.json
  packages/prettier-config/src/prettier-config.ts
  packages/stylelint-config/package.json
  pnpm-lock.yaml
  repo/changesets-action/package.json
  repo/comment-action/package.json
  repo/eslint-config/package.json
  repo/inspect-config/eslint.config.js
  repo/inspect-config/package.json
  turbo.json
Due: prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

Release packages
  .changeset/mighty-knives-mate.md
  .changeset/nine-houses-deny.md
  .changeset/rude-yaks-visit.md
  .changeset/short-beds-grin.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin-salute-react/CHANGELOG.md
  packages/eslint-plugin-salute-react/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write --parser markdown, prettier --write --parser json, node

Release packages (#50)
  .changeset/mighty-knives-mate.md
  .changeset/nine-houses-deny.md
  .changeset/rude-yaks-visit.md
  .changeset/short-beds-grin.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin-salute-react/CHANGELOG.md
  packages/eslint-plugin-salute-react/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write --parser markdown, prettier --write --parser json, node

Update deploy workflow to trigger on master branch
  .github/workflows/deploy-inspect-config.yml
Due: none

Update deploy workflow to trigger on master branch (#51)
  .github/workflows/deploy-inspect-config.yml
Due: none

Change Node version file from .nvmrc to .node-version in GH pages workflow
  .github/workflows/deploy-inspect-config.yml
Due: none

Change Node version file from .nvmrc to .node-version in GH pages workflow (#52)
  .github/workflows/deploy-inspect-config.yml
Due: none

Update GitHub Actions workflow paths for inspect config deployment
  .github/workflows/deploy-inspect-config.yml
Due: none

Update GitHub Actions workflow paths for inspect config deployment (#53)
  .github/workflows/deploy-inspect-config.yml
Due: none

Update config-inspector build script with base path
  repo/inspect-config/package.json
Due: prettier --write --parser json, node

Update config-inspector build script with base path (#54)
  repo/inspect-config/package.json
Due: prettier --write --parser json, node

Bump dependencies and update package configurations
  .github/workflows/deploy-inspect-config.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yml
  .github/workflows/test.yml
  package.json
  packages/eslint-config/package.json
  packages/eslint-plugin-salute-react/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
  repo/changesets-action/package.json
  repo/comment-action/package.json
  repo/eslint-config/package.json
  repo/inspect-config/package.json
Due: prettier --write --parser json, node

Refactor ESLint configuration to separate React and general rules
  packages/eslint-config/README.md
  packages/eslint-config/src/flat.ts
  packages/eslint-config/src/rules.ts
  repo/inspect-config/eslint.config.js
Due: prettier --write, prettier --write --parser markdown

Upgrade Turbo and pnpm to latest versions
  package.json
  pnpm-lock.yaml
Due: prettier --write --parser json, node

Add changeset
  .changeset/sixty-numbers-go.md
Due: prettier --write --parser markdown

Remove changesets-action and simplify snapshot workflow
  .github/workflows/snapshot.yml
  pnpm-lock.yaml
  repo/changesets-action/action.yml
  repo/changesets-action/package.json
  repo/changesets-action/src/add-snapshot-changeset.test.ts
  repo/changesets-action/src/add-snapshot-changeset.ts
  repo/changesets-action/src/index.ts
  repo/changesets-action/tsconfig.json
  repo/changesets-action/vitest.config.ts
Due: prettier --write, prettier --write --parser json, node

Better config for backend (#60)
  .changeset/sixty-numbers-go.md
  .github/workflows/deploy-inspect-config.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yml
  .github/workflows/test.yml
  package.json
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/eslint-config/src/flat.ts
  packages/eslint-config/src/rules.ts
  packages/eslint-plugin-salute-react/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
  repo/changesets-action/action.yml
  repo/changesets-action/package.json
  repo/changesets-action/src/add-snapshot-changeset.test.ts
  repo/changesets-action/src/add-snapshot-changeset.ts
  repo/changesets-action/src/index.ts
  repo/changesets-action/tsconfig.json
  repo/changesets-action/vitest.config.ts
  repo/comment-action/package.json
  repo/eslint-config/package.json
  repo/inspect-config/eslint.config.js
  repo/inspect-config/package.json
Due: prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

Update config-inspector workflow to use CI environment variable
  .github/workflows/deploy-inspect-config.yml
  repo/inspect-config/package.json
Due: prettier --write --parser json, node

Update config-inspector workflow to use CI environment variable (#62)
  .github/workflows/deploy-inspect-config.yml
  repo/inspect-config/package.json
Due: prettier --write --parser json, node

Fix CI environment variable quoting in workflow and build script
  .github/workflows/deploy-inspect-config.yml
  repo/inspect-config/package.json
Due: prettier --write --parser json, node

Fix CI environment variable quoting in workflow and build script (#63)
  .github/workflows/deploy-inspect-config.yml
  repo/inspect-config/package.json
Due: prettier --write --parser json, node

Bump dependencies to latest versions
  .changeset/four-sites-leave.md
  .changeset/plenty-eggs-tan.md
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/flat.ts
  packages/eslint-plugin-salute-react/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
  repo/comment-action/package.json
  repo/eslint-config/package.json
  repo/inspect-config/package.json
Due: prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

Bump dependencies to latest versions (#69)
  .changeset/four-sites-leave.md
  .changeset/plenty-eggs-tan.md
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/flat.ts
  packages/eslint-plugin-salute-react/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
  repo/comment-action/package.json
  repo/eslint-config/package.json
  repo/inspect-config/package.json
Due: prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

Update TypeScript configuration and version range
  .changeset/rude-vans-find.md
  .vscode/settings.json
  packages/eslint-config/package.json
Due: prettier --write --parser markdown, prettier --write --parser json, node

Update TypeScript configuration and version range (#71)
  .changeset/rude-vans-find.md
  .vscode/settings.json
  packages/eslint-config/package.json
Due: prettier --write --parser markdown, prettier --write --parser json, node

Changing rule in flat config rule
  packages/eslint-config/src/flat.ts
Due: prettier --write

prettier fix
  packages/eslint-config/src/flat.ts
Due: prettier --write

Adding changeset
  .changeset/eager-frogs-vanish.md
Due: prettier --write --parser markdown

Re-write type of changes
  .changeset/eager-frogs-vanish.md
Due: prettier --write --parser markdown

Adding changeset (#97)
  .changeset/eager-frogs-vanish.md
Due: prettier --write --parser markdown
