Repository salute-developers/grail: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix(prettier-config): public pkg
  packages/prettier-config/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/eslint-config-base/CHANGELOG.md
  packages/eslint-config/CHANGELOG.md
  packages/prettier-config/CHANGELOG.md
  packages/stylelint-config/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/eslint-config-base/package.json
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
Due: prettier --write --parser json, node

ci: GITHUB_TOKEN => GH_TOKEN
  .github/workflows/release.yml
Due: none

feat(eslint-config-base): add prettier config to eslint
  packages/eslint-config-base/index.js
  packages/eslint-config-base/package.json
Due: prettier --write, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/eslint-config-base/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/eslint-config-base/package.json
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
Due: prettier --write --parser json, node

feat(stylelint-config): add high-performance-animation plugin
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
Due: prettier --write, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/stylelint-config/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/stylelint-config/package.json
Due: prettier --write --parser json, node

fix(eslint-config): add airbnb/hooks
  packages/eslint-config/index.js
Due: prettier --write

fix(stylelint-config): bump version
  packages/stylelint-config/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/eslint-config/CHANGELOG.md
  packages/stylelint-config/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
Due: prettier --write --parser json, node

feat(eslint-config): restrict invalid imports from plasma
  packages/eslint-config/index.js
Due: prettier --write

feat(eslint-config): restrict ton of logic inside useEffect callback
  packages/eslint-config/index.js
Due: prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/eslint-config/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
Due: prettier --write --parser json, node

feat(eslint-config): update to eslint8
  packages/eslint-config/index.js
  packages/eslint-config/package.json
Due: prettier --write, prettier --write --parser json, node

fix(stylelint-config): add missed plugin to plugins config
  packages/stylelint-config/index.js
Due: prettier --write

fix: check ci
  packages/eslint-config/package.json
Due: prettier --write --parser json, node

docs(eslint-config)!: add readme and bump major version
  packages/eslint-config/README.md
Due: prettier --write --parser markdown

fix: fckg auto
  .github/workflows/release.yml
Due: none

feat(eslint-config): disable react/jsx-no-useless-fragment
  packages/eslint-config/index.js
Due: prettier --write

feat(eslint-config): display-name, no-leaked-render
  packages/eslint-config/index.js
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
