Repository salute-developers/grail: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

feat(eslint-config): @typescript-eslint/member-ordering warn
  packages/eslint-config/index.js
Due: prettier --write

feat(eslint-config): display-name, no-leaked-render
  packages/eslint-config/index.js
Due: prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/eslint-config/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
Due: prettier --write --parser json, node

Create semgrep.yml
  .github/workflows/semgrep.yml
Due: none

feat(eslint-config): enable react/no-unstable-nested-components
  packages/eslint-config/index.js
  packages/eslint-config/package-lock.json
Due: prettier --write, prettier --write --parser json, node

eslint rule "Do not memorize primitives" for useMemo
  packages/eslint-config/index.js
Due: prettier --write

feat(eslint-config-base)!: обновление зависимостей
  .github/workflows/release.yml
  .nvmrc
  packages/eslint-config-base/package-lock.json
  packages/eslint-config-base/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/eslint-config-base/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/eslint-config-base/package-lock.json
  packages/eslint-config-base/package.json
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
Due: prettier --write --parser json, node

тест
  packages/eslint-config-base/index.js
Due: prettier --write

тест
  packages/eslint-config-base/index.js
  packages/stylelint-config/package.json
Due: prettier --write, prettier --write --parser json, node

ci: обновление CI тулов
  .github/workflows/release.yml
  .npmrc
  lerna.json
  package-lock.json
  package.json
  packages/eslint-config-base/package-lock.json
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
  packages/prettier-config/index.js
  packages/prettier-config/package.json
Due: prettier --write, prettier --write --parser json, node

feat: Example of custom rule _6
  package-lock.json
  packages/eslint-config/.eslintrc.js
  packages/eslint-config/eslint-local-rules.js
  packages/eslint-config/example.js
  packages/eslint-config/not_eslint.config.js
  packages/eslint-config/package.json
  packages/eslint-config/rules/enforce-foo-bar.js
  packages/eslint-config/rules/enforce-foo-bar.test.js
  packages/eslint-config/rules/index.js
Due: prettier --write, prettier --write --parser json, node

ci: add prettierc.js, fix package-lock
  .prettierrc.js
  package-lock.json
  packages/eslint-config/index.js
Due: prettier --write, prettier --write --parser json, node

feat: custom rule no redundant commit
  package-lock.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/eslint-config/rules/index.js
  packages/eslint-config/rules/no-redundant-commit.js
  packages/eslint-config/rules/no-redundant-commit.test.js
Due: prettier --write, prettier --write --parser json, node

ci: fix tests
  package-lock.json
  package.json
  packages/eslint-config/package.json
Due: prettier --write --parser json, node

feat: custom rule no redundant commit
  package-lock.json
  package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/eslint-config/rules/index.js
  packages/eslint-config/rules/no-redundant-commit.js
  packages/eslint-config/rules/no-redundant-commit.test.js
Due: prettier --write, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/eslint-config-base/CHANGELOG.md
  packages/eslint-config/CHANGELOG.md
  packages/prettier-config/CHANGELOG.md
Due: prettier --write --parser markdown

"Bump independent versions [skip ci]"
  package-lock.json
  packages/eslint-config-base/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
Due: prettier --write --parser json, node

fix(eslint-config): fixed typo and replaced link with shorter one
  packages/eslint-config/index.js
Due: prettier --write

"Bump independent versions [skip ci]"
  package-lock.json
  packages/eslint-config/package.json
Due: prettier --write --parser json, node

feat(eslint-config): added as a full-fledged rule
  packages/eslint-config/index.js
  packages/eslint-config/rules/no-memoized-primitives.js
  packages/eslint-config/rules/no-memoized-primitives.test.js
Due: prettier --write

fix(eslint-config): changed the autofix option for jsx-no-leaked-render
  packages/eslint-config/index.js
Due: prettier --write

fix(eslint-config): add nesting awareness for no-redundant-commit rule and added tracking of potential sett setter
  packages/eslint-config/rules/no-redundant-commit.js
  packages/eslint-config/rules/no-redundant-commit.test.js
Due: prettier --write

feat(eslint-config, eslint-config-base): moved peerDependencies to dependencies
  .npmrc
  package-lock.json
  packages/eslint-config-base/package.json
  packages/eslint-config/package.json
Due: prettier --write --parser json, node

fix: removed legacy-peer-deps
  .npmrc
  package-lock.json
  packages/eslint-config-base/package.json
Due: prettier --write --parser json, node
