Repository salute-developers/grail: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/eslint-config-base/CHANGELOG.md
  packages/eslint-config/CHANGELOG.md
Due: prettier --write --parser markdown

"Bump independent versions [skip ci]"
  package-lock.json
  packages/eslint-config-base/package.json
  packages/eslint-config/package.json
Due: prettier --write --parser json, node

fix(eslint-config): disabled jsx-no-leaked-render
  packages/eslint-config/index.js
Due: prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/eslint-config/CHANGELOG.md
Due: prettier --write --parser markdown

"Bump independent versions [skip ci]"
  package-lock.json
  packages/eslint-config/package.json
Due: prettier --write --parser json, node

fix: update auto
  package-lock.json
  package.json
Due: prettier --write --parser json, node

feat(eslint-config): add new rule prefer-lazy-state-initialization
  packages/eslint-config/rules/prefer-lazy-state-initialization.js
  packages/eslint-config/rules/prefer-lazy-state-initialization.test.js
Due: prettier --write

test(eslint-config): more test cases for lazy-state
  packages/eslint-config/rules/prefer-lazy-state-initialization.test.js
Due: prettier --write

feat(eslint-config): new rule no-modifying-ref-on-render
  packages/eslint-config/rules/helpers.js
  packages/eslint-config/rules/index.js
  packages/eslint-config/rules/no-modifying-ref-on-render.js
  packages/eslint-config/rules/no-modifying-ref-on-render.test.js
  packages/eslint-config/rules/no-redundant-commit.js
Due: prettier --write

fix(eslint-config): fixed prefer-lazy
  packages/eslint-config/rules/prefer-lazy-state-initialization.js
  packages/eslint-config/rules/prefer-lazy-state-initialization.test.js
Due: prettier --write

fix(eslint-config): fixed no-modifying-ref
  packages/eslint-config/rules/no-modifying-ref-on-render.js
  packages/eslint-config/rules/no-modifying-ref-on-render.test.js
Due: prettier --write

fix(eslint-config): fixes for no-modifying-ref
  packages/eslint-config/rules/helpers.js
  packages/eslint-config/rules/no-modifying-ref-on-render.js
Due: prettier --write

fix(eslint-config): fixed no-modifying-ref add support for custom hooks
  packages/eslint-config/rules/helpers.js
  packages/eslint-config/rules/no-modifying-ref-on-render.js
Due: prettier --write

fix(eslint-config): fixed no-redundant-commit
  packages/eslint-config/rules/no-redundant-commit.js
  packages/eslint-config/rules/no-redundant-commit.test.js
Due: prettier --write

fix(eslint-config): refactor repo
  .autorc
  .github/workflows/release.yml
  .github/workflows/semgrep.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .nvmrc
  .prettierignore
  .prettierrc.js
  CHANGELOG.md
  format-before-commit.js
  lerna.json
  package-lock.json
  package.json
  packages/eslint-config-base/index.js
  packages/eslint-config-base/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/README.md
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/eslint-plugin-salute-rules/README.md
  packages/eslint-plugin-salute-rules/index.js
  packages/eslint-plugin-salute-rules/package.json
  packages/eslint-plugin-salute-rules/rules/helpers.js
  packages/eslint-plugin-salute-rules/rules/no-memoized-primitives.js
  packages/eslint-plugin-salute-rules/rules/no-memoized-primitives.test.js
  packages/eslint-plugin-salute-rules/rules/no-modifying-ref-on-render.js
  packages/eslint-plugin-salute-rules/rules/no-modifying-ref-on-render.test.js
  packages/eslint-plugin-salute-rules/rules/no-redundant-commit.js
  packages/eslint-plugin-salute-rules/rules/no-redundant-commit.test.js
  packages/eslint-plugin-salute-rules/rules/prefer-lazy-state-initialization.js
  packages/eslint-plugin-salute-rules/rules/prefer-lazy-state-initialization.test.js
  packages/prettier-config/index.js
  packages/prettier-config/package.json
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
Due: prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

added support for eslint module
  packages/eslint-config/index.mjs
  packages/eslint-config/package.json
Due: prettier --write --parser json, node

re-write some logic for eslint 9 support
  packages/eslint-config/package.json
  packages/prettier-config/index.mjs
  packages/prettier-config/package.json
Due: prettier --write --parser json, node

added new flat configuration
  packages/eslint-config/index.mjs
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/eslint-all.js
  packages/eslint-config/src/index.js
Due: prettier --write, prettier --write --parser json, node

added new flat config for salutejs eslint
  package-lock.json
  package.json
  packages/eslint-config-base/index.mjs
  packages/eslint-config-base/package.json
  packages/eslint-config-base/src/configs/eslint-all.js
  packages/eslint-config-base/src/index.js
  packages/eslint-config/index.mjs
  packages/eslint-config/package.json
Due: prettier --write, prettier --write --parser json, node

refactored code and added new flat config for eslint
  package-lock.json
  package.json
  packages/eslint-config-base/flat/index.mjs
  packages/eslint-config-base/index.mjs
  packages/eslint-config-base/package.json
  packages/eslint-config-base/src/configs/eslint-all.js
  packages/eslint-config-base/src/index.js
  packages/eslint-config/flat/index.mjs
  packages/eslint-config/index.mjs
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/eslint-all.js
  packages/eslint-config/src/index.js
Due: prettier --write, prettier --write --parser json, node

returned flat config for eslint and eslint-base
  package-lock.json
  package.json
Due: prettier --write --parser json, node

ran prettier for files
  package.json
  packages/eslint-config-base/flat/index.mjs
  packages/eslint-config-base/package.json
  packages/eslint-config/README.md
  packages/eslint-config/flat/index.mjs
  packages/eslint-config/index.mjs
  packages/eslint-config/package.json
  packages/prettier-config/index.mjs
  packages/prettier-config/package.json
Due: prettier --write --parser markdown, prettier --write --parser json, node

returned an old package and package-lock
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fixed prettier problems
  package.json
Due: prettier --write --parser json, node

removed jest from eslint-config
  packages/eslint-config/package.json
Due: prettier --write --parser json, node

added some docs for flat config
  packages/eslint-config/README.md
Due: prettier --write --parser markdown

fix: for package-lock.json
  package-lock.json
Due: prettier --write --parser json, node
